body { 
    background-color: seashell; 
    color: darkslategray;
    font-family: sans-serif;
    padding: 0.5vw 2vw;
}

div.link {
    line-height: 1.3;
}

a {
    text-decoration: none;
}

pre {
    overflow-x: auto;
}

@media (min-width: 0px) and (max-width: 1024px)  and (orientation: portrait) {
      
    body {
        font-size: 4vw;
    }
    h1 {
        font-size: 6.5vw;
    }
    h2 {
        font-size: 5.5vw;
    }

    form input {
        font-size: 5vw;
    }

}

a:link {color: #0000C0}
a:visited {color: #0000C0}
a:hover {color: #000000}

div.nav {
    margin-bottom: 1em;
}

div.nav div {
    display: inline;
    padding: 0.2em 1em;
    margin: 0.2em 0.5em;
    font-size: smaller;
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 0.3em;
}

blockquote {
	background: #f9f9f2;
	border-left: 10px solid #ccc;
	margin: 1.5em 10px;
	padding: 0.8em 10px;
	font-style: italic;
}
blockquote:before, blockquote:after  {
	color: #ccc;
	content: open-quote;
	font-size: 3em;
	line-height: 0.1em;
	margin-right: 0.1em;
	vertical-align: -0.4em;
}
blockquote:after {
	content: close-quote;
}

/*
    margin: 2vw auto; 
    padding: 1vw; 
    width: 90vw;
    max-width: 70ch;
*/
